
.snake .card{
    /*margin-bottom: -20px;*/
    margin-top: 45px;
    background-color: gray;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.snake button{
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}