.how{
    background-color: gray;
    border-radius: 25px;
    margin-left: 500px;
    
    /*margin-right: 250px;*/
    /*margin-bottom: 1000px;*/
    margin-top: 85px;
    border-radius: 380px;
    width: 30%;
    
    /*border-bottom: -120px;*/
    
}
.how card{
    /*margin-top: -45px;*/
    /*margin-bottom: -100px;
    border-bottom: -100px;*/
    background-color: gray;
}
.how card-img-top{
    /*margin-top: -45px;
    margin-bottom: 100px;
    border-radius: 80px;
    border-bottom: 120px;*/
}