.fact .card{
    /*margin-bottom: -20px;*/
    margin-top: 45px;
    background-color: gray;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.fact p card-text {
    display: flex;
    color: white;
}