.sm{
    /*background-color: gray;*/
    margin-left: 348px;
    margin-right: 120px;
    margin-bottom: 180px;
    border-bottom: 180px;
    margin-top: 40px;
    /*width: 100%;*/
    /*height: 40%;*/
}