.card-l{
    margin-top: 80px;
    margin-bottom: 20px;
    /*width: 40%;*/
    text-align: center;
    align-items: center;
    height: 50%;
    background-color: gray;
    margin-left: 160px;
    margin-right: 70px;
    
    }
    .row button{
        text-align: center;
        align-items: center;
        margin-left: 200px;
        margin-bottom: 75px;
        margin-top: 100px;
        margin-right: -130px;
        cursor: pointer;
    }
 
